.img2{
    height:300px;
    width:300px;
}

.img3{
    height:300px;
    width:300px;
}
.img4{
    height:300px;
    width:300px;
}
.img5{
    height:300px;
    width:300px;
}

body{
    text-align: center;
}